{% extends 'base.html.twig' %}

{% block title %}Hello FemmeController!{% endblock %}

{% block body %}
<h1>VETEMENTS FEMME</h1>
<img src="img/photo_polo_femme.jpg" alt="photo_polo" height="160px" width="160px"/>
<img src="img/photo1_polo_femme.jpg" alt="photo_polo" height="160px" width="160px"/>
<img src="img/photo2_polo_femme.jpg" alt="photo_polo" height="160px" width="160px"/>
<img src="img/55693_medium.jpg" alt="medium" height="160px" width="160px"/>
<img src="img/sweat1_jeune_femme.jpg" alt="sweat1_jeune" height="160px" width="160px"/>
{% endblock %}
