{% extends 'base.html.twig' %}

{% block title %}Hello HommeController!{% endblock %}

{% block body %}
<h1>VETEMENTS HOMME</h1>
<img src="img/photo_polo_homme.jpg" alt="photo_polo" height="160px" width="160px"/>
<img src="img/photo1_polo_homme.jpg" alt="t-shirt " height="160px" width="160px"/>
<img src="img/photo2_polo_homme.jpg" alt="photo_polo2" height="160px" width="160px"/>
<img src="img/53853_medium.jpg" alt="medium" height="160px" width="160px"/>
<img src="img/54348_medium.jpg" alt="medium" height="160px" width="160px"/>
<img src="img/sweat_capuche_homme.jpg" alt="sweat_capuche" height="160px" width="160px"/>

{% endblock %}
