{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}


{% block body %}
 <h1>Vetements sportswear</h1>
 <div class="categorie">
 <div>
 <h2>ENFANT</h2>
          <img src="img/photo_enfants_sport.jpg" alt="photo enfants" height="160px" width="260px"/>
          </div>
          <div>
          <h2>HOMME</h2>
          <img src="img/photo_homme_sport.jpg" alt="photo homme" height="160px" width="160px"/>
          </div>
          <div>
          <h2>FEMME</h2>
          <img src="img/photo_sport_femme.jpg" alt="photo sport" height="160px" width="160px"/>
          </div>
{% endblock %}
