{% extends 'base.html.twig' %}

{% block title %}Hello EnfantsController!{% endblock %}

{% block body %}
<h1>VETEMENTS ENFANT</h1>
<img src="img/photo_enfant_sport.jpg" alt="photo_enfant" height="160px" width="160px"/>
<img src="img/photo2_polo_fille.jpg" alt="photo_fille" height="160px" width="160px"/>
<img src="img/411554_medium.jpg" alt="medium" height="160px" width="160px"/>
<img src="img/sweat_avec_capuche_enfant.jpg" alt="sweat_avec_capuche" height="160px" width="160px"/>


{% endblock %}
 